.modal {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: flex-end;
    align-items: center;
    display: none;
}

.modal-close {
    position: absolute;
    top: 5px;
    left: 5px;
    height: 40px;
    width: 40px;
    padding: 0.5em;
    border: none;
    border-radius: 30%;
    background-color: #4c007d;
    color: #fff;
    cursor: pointer;
}

.modal-close:hover {
    transform: scale(1.1);
}

.is-open {
    display: flex;
}

.container {
    position: center; /* Posicionamiento relativo */
  }
  
  .cuadro {
    width: 500px; /* Ancho del cuadro */
    height: 500px; /* Altura del cuadro */
    background-color: white; /* Color de fondo */
    border: 1px solid black; /* Borde de 1px sólido en color negro */
    position: absolute; /* Posicionamiento absoluto */
    top: 50%; /* Centrar verticalmente */
    left: 50%; /* Centrar horizontalmente */
    transform: translate(-50%, -50%); /* Ajustar a la mitad */
  }

  h2 {
    margin-top: 0; /* Eliminar el margen superior predeterminado */
  }
  
  label {
    display: block; /* Convertir los elementos de etiqueta en bloque */
    margin-bottom: 5px; /* Agregar un espacio inferior */
  }
  
  input, textarea {
    width: 85%; /* Ancho completo */
    padding: 10px; /* Agregar un espacio interno */
    margin-bottom: 15px; /* Agregar un espacio inferior */
    border: 1px solid #ccc; /* Borde de 1px sólido en color gris */
    border-radius: 4px; /* Borde redondeado */
  }
  
  .botones {
    margin-top: 20px; /* Agregar un espacio superior */
  }
  
  button {
    padding: 10px; /* Agregar un espacio interno */
    border: none; /* Eliminar el borde */
    border-radius: 4px; /* Borde redondeado */
    color: white; /* Color de texto blanco */
    background-color: #333; /* Color de fondo gris oscuro */
    cursor: pointer; /* Cambiar el cursor al pasar sobre el botón */
    margin-right: 10px; /* Agregar un espacio a la derecha */
  }
  
  button[type="submit"] {
    background-color: green; /* Cambiar el color de fondo del botón de guardar a verde */
  }
  
  button[type="button"] {
    background-color: red; /* Cambiar el color de fondo del botón de eliminar a rojo */
  }

  form{
    margin-left: 8px;
  }